h1 { font-family: "Open Sans"; font-size: 40px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; } h3 { font-family: "Open Sans"; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; } p { font-family: "Open Sans"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; } blockquote { font-family: "Open Sans"; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; } pre { font-family: "Open Sans"; font-size: 11px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; }

body{
	color: #000;
    text-shadow: 2px 2px 2px #ccc;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
ul{
	justify-content: center;
	top:50%;
	left: 50%;
	transform: translate(-50%-50%);
	margin: 0;
	padding: 0;
	display: flex;
}
ul li {
	list-style: none;
}
ul li a{
	display: block;
	position: relative;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size:20px;
	text-align: center;
	color: #262626;
	margin: 0 10px;
	transition: .5s;  
}
ul li a span{
	position: absolute;
	transition: transform .5s; 
}
ul li a span:nth-child(1),
ul li a span:nth-child(3)
{
	width: 100%;
	height: 1px;
	background: #262626
}
ul li a span:nth-child(1)
{
	top:0;
	left: 0;
	transform-origin: right;
}
ul li a:hover span:nth-child(1)
{
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.5s
} 
ul li a span:nth-child(3)
{
	bottom:0;
	left: 0;
	transform-origin: left;
}
ul li a:hover span:nth-child(3)
{
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.5s
} 
ul li a span:nth-child(2),
ul li a span:nth-child(4)
{
	width: 1px;
	height: 100%;
	background: #262626
}
ul li a span:nth-child(2)
{
	top:0;
	left: 0;
	transform: scaleY(0);
	transform-origin: bottom;
}

ul li a:hover span:nth-child(2)
{
	transform: scaleY(1);
	transform-origin: top;
	transition: transform 0.5s
} 
ul li a span:nth-child(4)
{
	top:0;
	right: 0;
	transform: scale(0);
	transform-origin: top;
}
ul li a:hover span:nth-child(4)
{
	transform: scale(1);
	transform-origin: bottom;
	transition: transform 0.5s
} 
a{
	color: blue;
	text-decoration: none;
}
h3{	text-align: center;}

img {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .7s ease-in-out;  
    }

    img:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
    }


.sexy_line { 
    margin: 25px 0;
    height: 1px;
    border: 0;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
}